{% load static %}
<!-- Initialize classes for name, desc, long, lat-->
<div id="invisible">
    {% if points_list %}
    <ul>
    {% for point in points_list %}
            <li class = "lat">{{ point.latitude }}</li>
            <li class = "long">{{ point.longitude }}</li>
            <li class = "name">{{ point.info.name }}</li>
            <li class = "desc">{{ point.info.description }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No points are available.</p>
{% endif %}
</div>


<!-- Use javascript to initialize variables -->
<script>
var newlat = [];
var newlong = [];
var newname = [];
var newdesc = [];
var lat = document.getElementsByClassName("lat").innerHTML;
var long = document.getElementsByClassName("long").innerHTML;
var name = document.getElementsByClassName("name").innerHTML;
var desc = document.getElementsByClassName("desc").innerHTML;
var amountofplacescounter = 0;
</script>

<!-- For loop to run through all locations of the database, and assign them to their respective arrays -->
{% if points_list %}
<ul>
{% for point in points_list %}
        <script>
            newlat[amountofplacescounter] = '{{point.latitude}}';
            newlong[amountofplacescounter] = '{{point.longitude}}';
            newname[amountofplacescounter] = '{{point.info.name}}';
            newdesc[amountofplacescounter] = '{{point.info.description}}';
            amountofplacescounter = amountofplacescounter + 1;
        </script>
{% endfor %}
</ul>
{% else %}
<p>No points are available.</p>
{% endif %} 


<!-- Start of html webpage portion -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<title>Plazees</title>
<link rel="stylesheet" type="text/css" href="{% static 'place/style.css' %}">
</head>

<!-- Stylize the search bar and map -->

<body>
<div class="screen1">
  <div id="headband"> 
  <div id='funfact' style='display:none'> </div><div id='thefact' style='display:none'>  Cliffs of Moher, Ireland </div>
</div>
  <div id="intro"> 
<p> If you want to discover more places like this, start browsing below. </p>
</div>
<div id="arrow-down"></div>
</div>
<!-- Initialize search bar -->
<input id="pac-input" class="controls" type="text" placeholder="Search Box" value="Iowa City, IA, USA">
<div id="map"></div>

<!-- Enter main javascript section for map -->
<script>

    // Initialize auto complete for searach bar function
    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 41.6612561, lng: -91.5299106},
        zoom: 13,
        disableDoubleClickZoom: true,
        mapTypeId: 'roadmap'
    });
    

    // Create the search box and link it to the UI element.
    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);


    // Searchbox Bias
    map.addListener('bounds_changed', function() {
        searchBox.setBounds(map.getBounds()); 
    });

    // Initialize markers array
    var markers = [];
    
    // Wait for event of changing location
    searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();

        if (places.length == 0) {
            return;
        }

      
        // For each place, get the icon, name and location.
        var bounds = new google.maps.LatLngBounds();
        places.forEach(function(place) {
        if (!place.geometry) {
            console.log("Returned place contains no geometry");
            return;
        }
        var icon = {
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25)
        };


        
        if (place.geometry.viewport) {
            // Only geocodes have viewport.
            bounds.union(place.geometry.viewport);
        } 
        else {
            bounds.extend(place.geometry.location);
        }
        });
      
      
        map.fitBounds(bounds);
    });

    //////////////////////////////////////////////////////
    // Double Click to add marker, and prompt new location
    //////////////////////////////////////////////////////

    //Place marker where double clicked function
    function placeMarker(location){
        var marker = new google.maps.Marker({
            position: location,
            mFap:map
        });
    }


    //enterInfoPopUpContent html block
    var enterInfoPopUpContent ='<form method="POST" action="{% url "submit" %}" name="newplaceform" id="newplaceform">' +
        '{% csrf_token %}'+
        '<div id="inputs">'+
        'Name: <input id="input1" name="placenameinput" type="text" required><br>'+
        'Description: <textarea cols="40" rows="5" id="input2" name="descriptioninput" type="text" required></textarea><br>'+
        'Latitude: <input id="input3" name="latitudeinput" type="float" required readonly><br>'+
        'Longitude: <input id="input4" name="longitudeinput" type="float" required readonly><br>'+
        '{% if user.is_authenticated %}' +
        '<input type="file" accept="image/*" name="image" id="file" required>'+
        '<button id="sendinputs" type="submit"> Accept </button>'+
        '{% else %}'+
        '<br> You must login to add new places to Plazees. <br>' +
        '<a href="{% url 'login'%}?next={{request.path}}">Login</a>'+
        '{% endif %}' +
        '</form>';

    //Call the pop up window content
    var enterInfoPopUp = new google.maps.InfoWindow({
        content: enterInfoPopUpContent
    });
        
    //Double Click event listener
google.maps.event.addListener(map, 'dblclick', function(event) {
        //placeMarker(event.latLng);
        //On Double click location is found and ready to be sent to database, first I still have to store the whole thing into an array
        var temporaryMarker = new google.maps.Marker({
            position: event.latLng,
            map: map,
            title: 'New Marker'
        });
        enterInfoPopUp.open(map, temporaryMarker);
        document.getElementById("input3").value = event.latLng.lat(this);
        document.getElementById("input4").value = event.latLng.lng(this);
    });


    ////////////////////////////////////////////////////////////
    // Bring in locations stored in database
    ////////////////////////////////////////////////////////////
    
    // Initialize more varialbes needed to display markers
    var locationCoordinates = [];
    var locationMarkers = [];
    var temporaryLatitude;
    var temporaryLongitude;
    var tempName;
    var infoWindow = [];
    var descriptionString;


    //Messing with object classes!
    function markerInfo(passedName, passedDescription, passedLatitude, passedLongitude){
        this.name = passedName;
        this.description = passedDescription;
        temporaryLatitude = parseFloat(passedLatitude);
        temporaryLongitude = parseFloat(passedLongitude);
        this.location = {lat: temporaryLatitude, lng: temporaryLongitude};
    }

    function infoWindowClass(descriptionStringPassed){
        this.infowin = descriptionStringPassed;
    }

    console.log("THE SIZE ISSSSS");
    console.log(amountofplacescounter);

    // For loop to run through every element
    for(var placeInList = 0; placeInList < amountofplacescounter; placeInList++){
        var newstring = "";
        var bodycontent = "";

        //console.log(newlat[placeInList]);
        //console.log(newlong[placeInList]);
        //console.log(newname[placeInList]);
        //console.log(newdesc[placeInList]);

        // temporaryLatitude = parseFloat(newlat[placeInList]);
        // temporaryLongitude = parseFloat(newlong[placeInList]);
        // locationCoordinates[placeInList] = {lat: temporaryLatitude, lng: temporaryLongitude};
        // tempName = newname[placeInList];
        
        // locationMarkers[placeInList] = new google.maps.Marker({
        //     position: locationCoordinates[placeInList],
        //     map: map,
        //     title: newname[placeInList]
        // });

        // descriptionString[placeInList] = '<div id="content">'+
        // '<div id="siteNotice">'+
        // '</div>'+
        // '<h1 id="firstHeading" class="firstHeading">thisname</h1>';

        // infoWindow[placeInList] = new google.maps.InfoWindow({
        //     content: descriptionString[placeInList]
        // });

        // var temporaryMarker = locationMarkers[placeInList];
        // var temporaryInfoWindow = infoWindow[placeInList];
        
        // temporaryMarker.addListener('click', function() {
        //     temporaryInfoWindow.open(map, temporaryMarker);
        // });
        
        console.log("NEW MARKER HERE");
        locationMarkers[placeInList] = new markerInfo(newname[placeInList], newdesc[placeInList], newlat[placeInList], newlong[placeInList]);
        console.log(locationMarkers[placeInList].name);
        console.log(locationMarkers[placeInList].description);
        
        locationMarkers[placeInList] = new google.maps.Marker({
            position: locationMarkers[placeInList].location,
            map: map,
            title: locationMarkers[placeInList].name
        });

        var tempheader = newname[placeInList];
        var tempbody = newdesc[placeInList];
        newstring = tempheader;
        bodycontent = tempbody;

        descriptionString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading">'+newstring+'</h1>'+
        '<div id="bodyContent">'+
        '<p id="descriptionID">'+bodycontent+'</p>'+
        '</div>'+
        '</div>';

        infoWindow[placeInList] = new google.maps.InfoWindow({
            content: descriptionString,
            position: locationMarkers[placeInList].location
        });

        


        let temporaryMarker = locationMarkers[placeInList];
        let temporaryInfoWindow = infoWindow[placeInList];

        locationMarkers[placeInList].addListener('click', function() {
            //document.getElementById("firstHeading").innerHTML = "TEST";
            temporaryInfoWindow.open(map, temporaryMarker);
        });

        console.log("infoWindowHere");
        console.log(descriptionString[placeInList]);

    }


























    
        //ADD MARKERS FOR EVER PLACE LISTED BELOW
        var iowaCity = {lat: 41.6612561, lng: -91.5299106};
        var cedarRapids = {lat: 41.9758872, lng: -91.6704053};
        
        
        var iowaCityMarker = new google.maps.Marker({
            position: iowaCity,
            map: map,
            title: 'Iowa City'
        });
        
        var cedarRapidsMarker = new google.maps.Marker({
            position: cedarRapids,
            map: map,
            title: 'POOP'
        });
        
        
        
        
        //CONTENT BLOCKS FOR WHEN MARKER IS CLICKED
        var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
        '<div id="bodyContent">'+
        '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
        'sandstone rock formation in the southern part of the '+
        'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
        'south west of the nearest large town, Alice Springs; 450&#160;km '+
        '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
        'features of the Uluru - Kata Tjuta National Park. Uluru is '+
        'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
        'Aboriginal people of the area. It has many springs, waterholes, '+
        'rock caves and ancient paintings. Uluru is listed as a World '+
        'Heritage Site.</p>'+
        '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
        'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
        '(last visited June 22, 2009).</p>'+
        '</div>'+
        '</div>';
        
        var iowaCityInfoWindow = new google.maps.InfoWindow({
            content: contentString
        });
        
        iowaCityMarker.addListener('click', function() {
            iowaCityInfoWindow.open(map, iowaCityMarker);
        });
    }
    
          
////////////////////DESIGN STUFF/////////////////
  
    function appeardiv() {
        document.getElementById('funfact').style.display= "block";
    }
    function appeardiv1() {
        document.getElementById('thefact').style.display= "block";
    }

////////////////////////////////////////////////
    
    window.onload = function ()
    {
        setTimeout(appeardiv,250);
        setTimeout(appeardiv1,300);
    }

/////////////////////////////////////////////////      
  
</script>




<!-- Google maps api key -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXwk2_NnuQrPSi33nzrm6vPCc9R4jGOUg&libraries=places&callback=initAutocomplete"
    async defer></script>



<div class="screen1"><br><br><br><br><br><br><br><br><br>
<div class="circle_container">
<div class="circle_main">
    <div class="circle_text_container">
        <div class = "circle_text">
            5 Unearthly places you won't believe actually exist!<br> Dare to discover them.
        </div>
    </div>
</div>
</div>

<div id="place1"></div>
<div id="place2"></div>
<div id="place3"></div>
<div id="place4"></div>
<div id="place5"></div>

</div>		
     
</body>
</html>