
<form method="POST" action="{% url 'submit' %}">
    {% csrf_token %}
    <div id="inputs">
        Name: <input id="input1" name="placenameinput" type="text"><br>
        Description: <textarea cols="40" rows="5" id="input2" name="descriptioninput" type="text"></textarea><br>
        Latitude: <input id="input3" name="latitudeinput" type="float"><br>
        Longitude: <input id="input4" name="longitudeinput" type="float"><br>
    <button id="sendinputs" type="submit"> Accept </button>
</form>

{% if points_list %}
    <ul>
    {% for point in points_list %}
            <li>{{ point.latitude }}</li>
            <li>{{ point.longitude }}</li>
            <li>{{ point.info.name }}</li>
            <li>{{ point.info.description }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No points are available.</p>
{% endif %}

