#invisible{display: none;}

 /*JORGITO STYLE*/
 #headband {
      background: rgba(200, 218, 250,0.4);
      height: 22%;
      padding: 1%;
}
 #list { 
    max-height: 200px; 
    width:40%; 
    overflow: auto; 
    float:left;
    background-color:red;
    margin: 1px 100px 1px;
}	
           
#funfact {
    background-image: url("ireland.png");
    background-position: center;
    background-size: cover;
    margin: 0% auto 0%;
    border-radius: 50%;
    width: 12%;
       height: 80%;
       cursor: pointer;
}
  
  
#thefact {
    color: black;
    font-size: 120%;
    text-align:center;
    clear: both;
    margin: 25px auto 25px;
    padding: 1px;
    height: 15%;
    width: 20%;
    cursor: pointer;
}
  
  
.screen1 {
      background-image: url('sky.jpg');
      height : 100%;
      background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
      
#intro {
      width: 50%;
      margin: 1% auto 1%;
      text-align: center;
      font-size: 500%;
      color: rgb(242, 242, 242);
}
      
#arrow-down {
      width: 0; 
      height: 0; 
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
    border-top: 40px solid #f00;
    margin: 1% auto 1%;
}
    
.log {
      float: left;
      margin: 2%;
}
      
#place1 {
    position: absolute;
    bottom: -150%;
    right: 20%;
    border-radius: 70%;
    width: 17%;
       height: 30%;
    background-image: url('alliceland.jpg');
    cursor: pointer;
}

#place2 {
    position: absolute;
    bottom: -165%;
    right: 37%;
    border-radius: 100%;
    width: 14%;
       height: 25%;
    background-image: url('lucerna.jpg');
    cursor: pointer;
}

#place3 {
    position: absolute;
    bottom: -155%;
    right: 8%;
    border-radius: 100%;
    width: 10%;
       height: 17%;
    background-image: url('grandcanyon.jpg');
    cursor: pointer;
}

#place4 {
    position: absolute;
    bottom: -122%;
    right: 5%;
    border-radius: 100%;
    width: 16%;
       height: 28%;
    background-image: url('pink.jpg');
    cursor: pointer;
}
      
#place5 {
    position: absolute;
    bottom: -115%;
    right: 30%;
    border-radius: 100%;
    width: 7%;
       height: 12%;
    background-image: url('slope.jpg');
    cursor: pointer;
}
      
.circle_container
{
    width : 500px;
    height : 500px;
    margin : 0% 10% 0%;
    padding : 0;
}

.circle_main
{
    width : 100%;
    height : 100%;
    border-radius : 50%;
    background-color: purple;	
    padding : 0;
}

.circle_text_container
{
    width : 70%;
    height : 70%;
    max-width : 70%;
    max-height : 70%;
    margin : 0;
    padding : 0;

    position : relative;
    left : 15%;
    top : 15%;

    transform-style : preserve-3d;

}

.circle_text
{
    font: 300% "Tahoma", Arial, Serif;	
    text-align : center;
    color: white;
    
    position : relative;
    top : 50%;
    transform : translateY(-50%);
} 


/* Set the map height to 90% */
#map {
    height: 90%;
    margin: 0% auto 0%;
}
/* Map fills entire window */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* More styling */
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}
#infowindow-content .title {
    font-weight: bold;
}
#infowindow-content {
    display: none;
}
#map #infowindow-content {
    display: inline;
}

  
.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}
  
input[type=text] {padding:5px; border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
